<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/basePostLogin.html :: headerfiles(title=Azienda)"> </head>
<body>
	<header th:replace="fragments/basePostLogin.html :: intestazione"></header>
	<div class="transparentbox">
    <div>
    	<h4>AZIENDA</h4>
    	<div th:if="${azienda}" th:object="${azienda}">
    	<h5>Nome:</h5>
    	<div class="center">
			<h5 th:text="*{nome}">nome</h5>
			</div>
			<h5>Partita Iva:</h5>
			<div class="center">
			<h5 th:text="*{partitaIva}">partitaIva </h5>
			</div>
			<span th:text="*{indirizzoSede}"/>
			<span th:text="*{telefono}"/>
   		</div>
   		<div id="related_links">
    	<h4> Griglie </h4>
    	<ul>
    	<li th:each="griglia : ${grigle}">
				<a href="griglia.html" 
				   th:href="@{'/griglia' + '/' + ${griglia.id}}" 
				   th:text="${griglia.modello}">Penna rossa</a>
			</li>
			</ul>
	   </div>
    </div>
    <footer th:replace="fragments/basePostLogin.html :: fondo"></footer>
</body>
</html>