<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/basePostLoginAdmin.html :: headerfiles(title=Curatore)"> </head>
<body>
	<header th:replace="fragments/basePostLoginAdmin.html :: intestazione"></header>
	<div class="transparentbox">
	<div>
		<div class="desc"> Questi qui sono i nostri migliori curatori! Delle ottime persone, estremamente qualificate ed in grado di rispondere ad ogni vostra curiosità! Clicca per vedere quali colleizoni gestiscono</div>
	
	<div id="related_links">
    	<h4>Lista dei tagli</h4>
		<ul>
			<li th:each="carne : ${carni}">
				<a href="carne.html" 
				   th:href="@{'/carneA' + '/' + ${carne.id}}" 
				   th:text="${carne.nome}">Penna rossa
				   th:text="${carne.provenienza}">Penna rossa</a>
			</li>
		</ul>
	</div>
	</div>
	</div>
	<footer th:replace="fragments/basePostLogin.html :: fondo"></footer>
</body>
</html>