<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/basePostLogin.html :: headerfiles(title=Curatore)"> </head>
<body>
	<header th:replace="fragments/basePostLogin.html :: intestazione"></header>
	<div class="transparentbox">
    <div>
    	<h4>CARNE</h4>
    	<div th:if="${carne}" th:object="${carne}">
			<h5 th:text="*{nome}">nome</h5>
			<h5 th:text="*{provenienza}">cognome </h5>
			<span th:text="*{eta}"/>
			<span th:text="*{periodoFrollatura}"/>
			<span th:text="*{likes}"/>
   		</div>
   		
   		<div th:if="${legno}" th:object="${legno}">
    	<h4> legno </h4>
    	<a href="legno.html" 
				   th:href="@{'/legna' + '/' + ${legno.id}}"
				   th:text="${legno.nome}">Penna rossa</a>
    	</div>
    	<div th:unless="${legno}">Questo taglio di carne non ha ancora un legno assegnato per l'affumicatura!
    	<form action="#" th:action="@{'/check' + '/' + ${carne.id}}" method="post">
    	<button type="submit" name="upvote">LIKE</button>
    	</form>
    	</div>
    </div>
    <footer th:replace="fragments/basePostLogin.html :: fondo"></footer>
</body>
</html>