<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/basePostLogin.html :: headerfiles(title=Curatore)"> </head>
<body>
	<header th:replace="fragments/basePostLogin.html :: intestazione"></header>
	<div class="transparentbox">
    <div>
    	<h4>LEGNA</h4>
    	<div th:if="${legna}" th:object="${legna}">
			<h5 th:text="*{nome}">nome</h5>
			<h5 th:text="*{provenienza}">cognome </h5>
			<span th:text="*{umidita}"/>
			<span th:text="*{aroma}"/>
   		</div>
    </div>
    <footer th:replace="fragments/basePostLogin.html :: fondo"></footer>
</body>
</html>