<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/basePostLogin.html :: headerfiles(title=#{pageTitle.home})"> </head>
<body>
	<header th:replace="fragments/basePostLogin.html :: intestazione"></header>
<div class="transparentbox">
<div class="homet">Benvenuti! Questo è il sito web del museo delle arti moderne della capitale! In questo sito sarà possibile vedere tutte le opere presenti all'interno del museo, le collezioni al quale appartengno e gli artisti che le hanno create.
 Qua sotto è possibile vedere degli esempi di opere che potrere ammirare nel museo. Cosa state aspettando, cliccateci sopra!</div>
	<div class="row">
  <div class="column">
    <img src="images/vangogh/Van_Gogh_Notte_Stellata.jpg" alt="Notte stellata" style="width:100%" onclick="myFunction(this);">
  </div>
  <div class="column">
    <img src="images/salvadordali/lpdm-00.jpg" alt="Clock" style="width:100%" onclick="myFunction(this);">
  </div>
  <div class="column">
    <img src="images/picasso/Donna-che-piange.jpg" alt="Volontà" style="width:100%" onclick="myFunction(this);">
  </div>
  <div class="column">
    <img src="images/monet/Saint-Georges.jpg" alt="Lights" style="width:100%" onclick="myFunction(this);">
  </div>
  <div class="column">
    <img src="images/picasso/phome.jpeg" alt="Volontà" style="width:100%" onclick="myFunction(this);">
  </div>
  <div class="column">
    <img src="images/salvadordali/telefono aragosta.jpg" alt="Volontà" style="width:100%" onclick="myFunction(this);">
  </div>
</div>

<div class="container">
  <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
  <img id="expandedImg" style="width:100%">
  <div id="imgtext"></div>
</div>

<script>
function myFunction(imgs) {
  var expandImg = document.getElementById("expandedImg");
  var imgText = document.getElementById("imgtext");
  expandImg.src = imgs.src;
  imgText.innerHTML = imgs.alt;
  expandImg.parentElement.style.display = "block";
}
</script>
</div>
    
    <footer th:replace="fragments/basePostLogin.html :: fondo"></footer>
</body>

</html>
