<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/basePostLogin.html :: headerfiles(title=home)"> </head>
<body>
	<header th:replace="fragments/basePostLogin.html :: intestazione"></header>
<div class="transparentbox">
<img src="images/unnamed.png" style="width:22%" class="column cerchia">
<div class="spazia fontAaron">But the fact that in Texas barbecue, you're taking one of the worst pieces of the animal and converting it into one of the best is a miracle itself.
</div>
  <div class= "center">
  
  	<div class="horizontal-flex-container">
    <img src="images/P1100761.jpg" alt="Brisket"  style="width:67%" class="immagini" onclick="myFunction(this);">
    <img src="images/P1110230.jpg" alt="Pork Ribs"  style="width:67%" class="immagini" onclick="myFunction(this);">
    <img src="images/P1110253.jpg" alt="Beef Short Ribs" style="width:67%" class="immagini" onclick="myFunction(this);">
    </div>
   
   <div class="horizontal-flex-container">
    <img src="images/P1100847.jpg" alt="Chicken Lollipops" style="width:67%" class="immagini" onclick="myFunction(this);">
    <img src="images/P1140375.jpg" alt="Armadillo Eggs" style="width:67%" class="immagini" onclick="myFunction(this);">
     <img src="images/P1150063.jpg" alt="Cured Bacon" style="width:67%" class="immagini" onclick="myFunction(this);">
  
  </div>
</div>

<div class="container">
  <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
  <img id="expandedImg" style="width:100%">
  <div id="imgtext"></div>
</div>

<script>
function myFunction(imgs) {
  var expandImg = document.getElementById("expandedImg");
  var imgText = document.getElementById("imgtext");
  expandImg.src = imgs.src;
  imgText.innerHTML = imgs.alt;
  expandImg.parentElement.style.display = "block";
}
</script>
</div>
    
    <footer th:replace="fragments/basePostLogin.html :: fondo"></footer>
</body>

</html>
