<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/basePreLogin.html :: headerfiles(title='SIW')"> </head>
<body>

	<header th:replace="fragments/basePreLogin.html :: intestazione(home='/index')"></header>
	<div class="transparentbox">
    <div>
    	<h4 th:text="#{header.index}">Welcome Page</h4>
		<div>
			<a th:href="@{/doublog}" th:text="#{index.login}">Accedii</a>
   		</div>
		<div>
			<a th:href="@{/register}" th:text="#{index.register}">Registrati</a>
   		</div>
    </div>
    </div>
    <footer th:replace="fragments/basePreLogin.html :: fondo(home='/')"></footer>
    
</body>
</html>